body,
.navbar {
    background-color: rgb(20, 20, 20);
}

.btn-group {
    max-height: 30px;
}

.two-icons {
    max-height: 25px;
    display: flex;
    position: absolute;
    left: 94%;
    vertical-align: middle;
}

.ind-icon1,
.ind-icon2 {
    border: 1px solid ghostwhite;
    min-width: 40px;
    text-align: center;
    padding: 2px 5px 2px 5px;
    position: relative;
}

.div-for-tvshow {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
}

.dropdown-menu {
    left: auto !important;
    right: 0 !important;
}

.episode-mark {
    color: rgba(255, 255, 255, 0.856);
    background-color: rgb(192, 20, 20);
    font-weight: 600;
    font-size: smaller;
    width: fit-content;
    position: absolute;
    bottom: 10%;
    border-radius: 1px;
}


/* .carousel-caption {
    background-color: rgba(0, 0, 0, 0.354);
    position: relative;
    object-fit: cover;
    width: 300px;
    height: 200px;
} */

.movie-description {
    position: relative;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 300px;
    z-index: 3;
    padding: 6px;
}

.movie-description:hover {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    /* number of lines to show */
}

.img-wrap {
    position: absolute;
    height: 50%;
}

.caption {
    color: white;
    object-fit: cover;
}

.image-card {
    border-radius: 5%;
    display: flex;
    background-color: rgb(255, 255, 255);
    position: relative;
    object-fit: cover;
    width: 300px;
    height: 200px;
    margin: 10px;
}

.image-card-preview {
    border-radius: 5%;
    display: flex;
    background-color: rgb(255, 255, 255);
    position: relative;
    object-fit: cover;
}

.movie-description-preview {
    position: relative;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 300px;
    z-index: 3;
    padding: 6px;
}

.image-card:hover {
    transform: scale(1.2);
    z-index: 3;
}

.thumbnail {
    border-radius: 5%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    width: 300px;
    height: 200px;
}

.darker-thumbnail {
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.54);
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 200px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}